* {
    margin: 0;
}
body{
    position: relative;
    background-image: url("https://images.genial.ly/5ecda8a2341f013a93861ba1/2efb970d-1881-4287-82fd-51b7dd7406a9.png");
}
#main {
    /* background-image: linear-gradient(to bottom, #f9e4c8, #f9e6ce, #fae9d4, #faebda, #faeee0); */
    padding: 20px;
    padding-bottom: 50px;
    width: 100vw;
}

#list-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}
#header{
    text-align: center;
    margin: 50px;
}
h1{
    color: #2B303A;
    border: 8px solid #2B303A;
    display: inline-block;
    padding: 6px 12px;
    border-radius: 36px;
    text-align: center;
    font-size: 50px;
}

h2{
    margin-left: 10%;
    margin-bottom: 30px;
    font-family: 'Droid serif', serif; 
    font-size: 36px; 
    font-weight: 250px; 
    font-style: italic;
}
.list {
    background-color: white;
    box-shadow: 4px 8px 29px -8px rgba(0,0,0,0.75);
    margin: 10px;
    text-align: center;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    width: 260px;
    padding: 16px;
}

.list img {
    height: 250px;
    object-fit: contain;
}

.list img:hover{
    background-color: burlywood;
}

h6{
    margin-top: 5px;
    font-size: 1.2em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#transaction {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    padding-bottom: 100px;
}

#transaction-container {
    background-image: linear-gradient(to bottom, #f9e4c8, #f9e6ce, #fae9d4, #faebda, #faeee0);
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 4px 8px 29px -8px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
    z-index: 1;
}

#transaction-container h3 {
    text-align: center;
    margin: 5px;
}

.form {
    line-height: 30px;
}

.decor{
    position:absolute;
    height: 600px;
    left: -50px;
    bottom: 20px;
    z-index: 0;
}

input[type=text] {
    border: none;
    padding: 5px;
    margin: 5px;
    width: 100%;
    border-radius: 4px;
}

input[type=number] {
    border: none;
    border: none;
    margin: 5px;
    padding: 5px;
    width: 100%;
    border-radius: 4px;
}

#dropdown {
    width: 102%;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    border-style: none;
}

#btn-container {
    margin: 15px 0;
    text-align: center;
}

.checkout-btn {
    border: none;
    padding: 10px 15px;
    background-color: white;
    border-radius: 7px;
}

.checkout-btn:hover{
    cursor: pointer;
}

#modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0,0, 0.5);
}

.modal-content {
    background-color: #f4f4f4;
    margin: 20% auto;
    padding: 20px;
    width: 70%;
    border-radius: 5px;
    box-shadow: 0 5px 8px 0 rgba(0, 0,0, 0.2), 0 7px 20px 0 rgba(0, 0,0, 0.2);
}

#modalCheckout{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0,0, 0.5);
}
