header{
    background-color: #F63232;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    /* z-index: 1; */
}
header h1{
    color: white;
    border: 8px solid white;
    display: inline-block;
    padding: 6px 12px;
    border-radius: 36px;
}
.front{
    position: relative;
}
.front .welcome{
    background:#FEB614;
    color: white;
    padding: 30px;
    font-size: 60px;
    position: absolute;
    left: 0;
    top: 30%;
} 
.front .welcome span{
    font-size: 1.4em;
}
.film img{
    margin-top: 150px;
}
.decoration{
    position: fixed;
    bottom: 50px;
    display: none;
}
.order{
    position: absolute;
}
.row {
    display: flex;
}
.column{
    background-color: #444451;
    height: 12px;
    width: 15px;
    margin: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.column.selected {
    background-color: #6feaf6;
}
.column.occupied {
background-color: #fff;
}
